<div>
    <h2 mat-dialog-title>
        <div fxLayoutAlign="space-between center">
            <span> {{ data.title }}: </span>
            <span><mat-icon (click)="close()" class="dialog-cancel-btn">cancel</mat-icon></span>
        </div>
        <mat-divider></mat-divider>
    </h2>

    <form [formGroup]="form" autocomplete="off" spellcheck="false">
        <mat-dialog-content fxLayout="column" fxLayoutGap="3%">
            <mat-form-field fxFlex="100">
                <mat-label>Environment Id</mat-label>
                <input matInput placeholder="Environment Id" formControlName="environmentId" [errorStateMatcher]="matcher" />
            </mat-form-field>
            <mat-form-field fxFlex="100">
                <mat-label>Url</mat-label>
                <input matInput placeholder="Url" formControlName="url" [errorStateMatcher]="matcher" />
            </mat-form-field>
            <mat-form-field fxFlex="100">
                <mat-label>PublicKey</mat-label>
                <input matInput placeholder="PublicKey" formControlName="publicKey" [errorStateMatcher]="matcher" />
            </mat-form-field>
        </mat-dialog-content>
    </form>

    <mat-dialog-actions fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="9px" *ngIf="data.editAllowed">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <button mat-raised-button color="warn" [disabled]="!form.valid || isSuccess" (click)="createEnvironment()">{{ data.buttonTitle }}</button>
        </div>
    </mat-dialog-actions>
    <div *ngIf="message.length > 0" fxLayoutAlign="center center" style="padding-top: 28px; color: deeppink; font-weight: 600">{{ message }}</div>
</div>
