table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 25%;
}

.title {
    margin: 8px 0 15px 0;
    font-size: 20px;
    font-weight: bold;
}

.environment-list-container {
    margin-top: 20px;
}

.environment-count {
    font-weight: 600;
    color: crimson;
    text-align: center;
    margin-left: 20%;
}

.edit-environment-btn,
.dashboard-icon {
    font-size: 24px;
    font-weight: 600;
}
