mat-label {
    color: green;
}

.login-container {
    margin-top: 5%;
    .inner-container {
        border: 1px solid gray;
        padding: 20px;
        border-radius: 2px;
    }
}

.login-title {
    margin: 8px 0 8px 0;
    font-size: 19px;
}
