table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 25%;
}

.title {
    margin: 8px 0 15px 0;
    font-size: 20px;
    font-weight: bold;
}

.application-list-container {
    margin-top: 20px;
}

.environment-count {
    margin-left: 12%;
}

.add-environment-btn {
    font-size: 24px;
    font-weight: 600;
}
